Repository domicileapp/domicile, changes with the labels that .github/labeler.yaml gives for each.
All labels: component/core, component/api, component/api/todos, component/app, component/infra, component/infra/database, component/infra/app, component/infra/api

.github/labeler.yaml:

component/core:
- '*'

component/api:
- api/*

component/api/todos:
- api/todos/*

component/app:
- app/*

component/infra:
- k8s/*

component/infra/database:
- k8s/database/*

component/infra/app:
- k8s/app/*

component/infra/api:
- k8s/api/*

feat: export swagger specifications
  api/nest-cli.json
  api/src/main.ts
  api/swagger-spec.json
Labels: component/api

fix(openapi): pretty print swagger-spec
  api/src/main.ts
  api/swagger-spec.json
Labels: component/api

fix(api): openapi formatting fix
  api/src/main.ts
  api/swagger-spec.json
Labels: component/api

chore(deps): bump to latest patches
  api/yarn.lock
Labels: component/api

chore: add openapi/postman folders
  api/docs/collections/.gitkeep
  api/docs/schema/.gitkeep
  api/src/main.ts
Labels: none

chore(api): move openapi document
  api/docs/collections/.gitkeep
  api/docs/schema/.gitkeep
  api/openapi-spec.json
  api/src/main.ts
Labels: component/api

init
  .postman/api
Labels: none

init
  .postman/api
  postman/schemas/openapi-spec.json
Labels: none

docs: add collections
  .postman/api
  postman/collections/Domicile.json
Labels: none

chore(api): move openapi json output
  api/src/config/collections/Domicile.json
  api/src/config/schemas/openapi-spec.json
  api/src/main.ts
Labels: none

chore: postman updates
  .postman/api
Labels: none

chore: postman updates
  .postman/api
  api/src/config/collections/Domicile.json
Labels: none

chore(postman): new collection for testing
  .postman/api
  api/src/config/collections/domicile-api.json
Labels: none

chore(postman): add test to populate access token
  api/src/config/collections/domicile-api.json
Labels: none

docs: update swagger documentation
  api/src/auth/auth.controller.ts
  api/src/config/schemas/openapi-spec.json
  api/src/todos/todo.entity.ts
  api/src/todos/todos.controller.ts
  api/src/users/user.entity.ts
  api/src/users/users.controller.ts
  api/temp/Todo.js.json
  api/temp/User.js.json
Labels: none

ci: update permissions
  .github/workflows/github.yaml
  .github/workflows/release.yaml
Labels: none

chore(deps): bump dependencies
  api/yarn.lock
  app/yarn.lock
Labels: component/api, component/app

docs: remove WIP status badge (bc why)
  README.md
Labels: component/core

feat: database seeder (yay)
  api/mikro-orm.config.ts
  api/package.json
  api/seeders/database.seeder.ts
  api/src/auth/entities/refresh-token.entity.ts
  api/src/common/entities/base-entity.entity.ts
  api/src/database/factories/list.factory.ts
  api/src/database/factories/todo.factory.ts
  api/src/database/factories/user.factory.ts
  api/src/database/migrations/.snapshot-domicile.json
  api/src/database/migrations/Migration20220926213133.ts
  api/src/database/migrations/Migration20220926214650.ts
  api/src/database/migrations/Migration20220926222224.ts
  api/src/database/migrations/Migration20220926231541.ts
  api/src/database/migrations/Migration20221013014335.ts
  api/src/lists/list.entity.ts
  api/src/main.ts
  api/src/todos/todo.entity.ts
  api/src/users/user.entity.ts
  api/temp/BaseEntity.js.json
  api/temp/BaseEntity.ts.json
  api/temp/List.js.json
  api/temp/List.ts.json
  api/temp/Post.js.json
  api/temp/Post.ts.json
  api/temp/RefreshToken.js.json
  api/temp/RefreshToken.ts.json
  api/temp/Todo.js.json
  api/temp/Todo.ts.json
  api/temp/User.js.json
  api/temp/User.ts.json
  api/yarn.lock
Labels: component/api

build(deps): bump dependencies to latest patches
  api/package.json
  api/yarn.lock
  app/yarn.lock
  package.json
  yarn.lock
Labels: component/core, component/api, component/app

ci(labeler): fix the token variable
  .github/workflows/github.yaml
Labels: none

fix
  .github/workflows/github.yaml
Labels: none

style(app): formatting fixes
  .vscode/settings.json
  app/.eslintrc.js
  app/.prettierrc
  app/README.md
  app/index.html
  app/postcss.config.js
  app/quasar.config.js
  app/src/components/EssentialLink.vue
  app/src/components/ExampleComponent.vue
  app/src/components/models.ts
  app/src/css/quasar.variables.scss
  app/src/env.d.ts
  app/src/layouts/LoginLayout.vue
  app/src/pages/ErrorNotFound.vue
  app/src/pages/IndexPage.vue
  app/src/pages/LoginPage.vue
  app/src/router/index.ts
  app/src/router/routes.ts
  app/src/shims-vue.d.ts
  app/src/stores/example-store.ts
  app/src/stores/index.ts
  app/src/stores/store-flag.d.ts
  app/tsconfig.json
  app/yarn.lock
Labels: component/app

feat(app): create login page styling
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  app/quasar.config.js
  app/src/assets/quasar-logo-vertical.svg
  app/src/components/EssentialLink.vue
  app/src/components/ExampleComponent.vue
  app/src/layouts/LoginLayout.vue
  app/src/layouts/MainLayout.vue
  app/src/pages/IndexPage.vue
  app/src/pages/LoginPage.vue
  app/src/router/routes.ts
  package.json
  yarn.lock
Labels: component/core, component/app

perf(api): test out redis and websockets
  api/.env.sample
  api/package.json
  api/src/common/adapters/redis.adapter.ts
  api/src/todos/todos.gateway.ts
  api/yarn.lock
  app/src/css/quasar.variables.scss
  app/src/layouts/LoginLayout.vue
  app/src/layouts/MainLayout.vue
  app/src/pages/LoginPage.vue
  app/src/pages/TaskPage.vue
  app/src/router/routes.ts
  app/src/stores/tasks.ts
  docker/docker-compose.yml
  k8s/database/redis-config.yaml
  k8s/database/redis-deployment.yaml
  k8s/database/redis-pvc-pv.yaml
Labels: component/api, component/infra/database

build(deps): bump dependencies to the latest patches
  api/yarn.lock
  app/yarn.lock
  yarn.lock
Labels: component/core, component/api, component/app

build(deps): bump @types/validator to 13.7.9
  api/yarn.lock
Labels: component/api

bump
  api/yarn.lock
  app/yarn.lock
Labels: component/api, component/app
