Repository domicileapp/domicile, changes with the labels that .github/labeler.yml gives for each.
All labels: category/core, category/api, category/db, category/web, category/docker

hopefully fix
  package-lock.json
  yarn.lock
Labels: category/core

ci(release): fix
  .releaserc.yml
Labels: category/core

fix: releases on main and next
  .releaserc.yml
Labels: category/core

inout
  .releaserc
Labels: category/core

delete
  .releaserc.yml
Labels: category/core

fix
  .releaserc
Labels: category/core

fix (#233)
  .releaserc
Labels: category/core

fix
  .releaserc
  release.config.js
Labels: category/core

test (#234)
  .releaserc
  commitlint.config.js
  release.config.js
Labels: category/core

feat: do something
  release.config.js
  yarn.lock
Labels: category/core

fix: something
  release.config.js
Labels: category/core

fix: release scopes
  .github/workflows/release.yml
Labels: none

test(api): add test config
  .vscode/extensions.json
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  api/domicile-test-db
  api/jest.config.ts
  api/mikro-orm-test.config.ts
  api/package.json
  api/src/app.module.ts
  api/src/database/migrations/.snapshot-domicile.json
  api/src/database/migrations/Migration20230411230413.ts
  api/src/database/scripts/create_entities.sql
  api/src/recipes/recipes.controller.spec.ts
  api/src/recipes/recipes.module.ts
  api/src/recipes/recipes.service.spec.ts
  api/src/recipes/recipes.service.ts
  api/tsconfig.json
  api/yarn.lock
  web/src/modules/recipes/Recipes.tsx
  web/src/modules/recipes/hooks/recipes.api.ts
Labels: category/core, category/api

fix: release-please failing
  .releaserc.json
  release.config.js
Labels: category/core

ci(release): add run on push to dev
  .github/workflows/release.yml
Labels: none

Initial commit
  mvnw
  mvnw.cmd
  pom.xml
  src/main/java/com/hevlar/semantic/semanticjava/GreetingController.java
  src/main/java/com/hevlar/semantic/semanticjava/SemanticJavaApplication.java
  src/main/resources/application.properties
  src/test/java/com/hevlar/semantic/semanticjava/GreetingControllerTest.java
  src/test/java/com/hevlar/semantic/semanticjava/SemanticJavaApplicationTests.java
Labels: category/core

Update release.yml
  .github/workflows/release.yml
Labels: none

test failure test result in semantic release not run
  src/test/java/com/hevlar/semantic/semanticjava/GreetingControllerTest.java
Labels: none

build: add releaserc
  .releaserc
Labels: category/core

Update release.yml
  .github/workflows/release.yml
Labels: none

Create README.md
  README.md
Labels: category/core

restore test failure to pass
  src/test/java/com/hevlar/semantic/semanticjava/GreetingControllerTest.java
Labels: none

Update README.md
  README.md
Labels: category/core

what is going on
  .releaserc
Labels: category/core

hm
  .github/workflows/release.yml
  .releaserc.json
Labels: category/core

whaver
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  33c8a319386a86e0fe467f3ac23cf3077d51479a
Labels: category/core

ci(releases): fix configuration to main and dev
  .github/workflows/release.yml
  .releaserc.json
Labels: category/core

chore(release): 1.0.0-dev.1 [skip ci]
  CHANGELOG.md
Labels: category/core

Notes added by 'git notes add'
  417a87ac2a995c74014a00fb0437faaf535cbb1a
Labels: category/core

ci: fix changelog generation to use cc
  .release-please-manifest.json
  .releaserc.json
  release-please-config.json
  src/main/java/com/hevlar/semantic/semanticjava/GreetingController.java
  src/main/java/com/hevlar/semantic/semanticjava/SemanticJavaApplication.java
  src/main/resources/application.properties
  src/test/java/com/hevlar/semantic/semanticjava/GreetingControllerTest.java
  src/test/java/com/hevlar/semantic/semanticjava/SemanticJavaApplicationTests.java
  web/.vite/deps_temp_b72063e2/package.json
Labels: category/core

ci: add CI section
  .releaserc.json
Labels: category/core

ci: add workflow_dispatch option for releases
  .github/workflows/release.yml
Labels: none

fix(ci): changelog generation
  CHANGELOG.md
Labels: category/core

fix: change releaserc to yml
  .gitignore
  .releaserc.json
  .releaserc.yml
Labels: category/core

chore(release): 1.0.0-dev.2 [skip ci]
  CHANGELOG.md
Labels: category/core

Notes added by 'git notes add'
  af8a61fee4021078463e49d1a06f62c3db224633
Labels: category/core

.github/labeler.yml:

category/core:
  - '*'

category/api:
  - api/*

category/db:
  - api/database/*
  - api/seeders/*

category/web:
  - web/*

category/docker:
  - docker/*
