Repository domicileapp/domicile, changes with the labels that .github/labeler.yml gives for each.
All labels: component/core, component/api, component/app

build: rename workspace
  .github/workflows/github.yml
  .github/workflows/label.yml
Labels: none

chore(deps): remove release-it
  api/package.json
  api/src/app.module.ts
  api/yarn.lock
Labels: component/api

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: component/core

Create LICENSE
  LICENSE
Labels: component/core

perf(infra): migrate to k8s for database
  .vscode/settings.json
  api/Dockerfile
  docker-compose.dev.yml
  k8s/database/postgres-config.yaml
  k8s/database/postgres-deployment.yaml
  k8s/database/postgres-pvc-pv.yaml
  k8s/database/postgres-service.yaml
Labels: component/core, component/api

chore: update release-please config to include performance improvements
  release-please-config.json
Labels: component/core

.github/labeler.yml:

component/core:
- '*'

component/api:
- api/*

component/app:
- app/*
