Repository domicileapp/domicile, changes with the labels that .github/labeler.yml gives for each.
All labels: component/core, component/api, component/api/tasks, component/app, component/infra, component/infra/database, component/infra/app, component/infra/api

ok
  .github/workflows/github.yml
Labels: none

?
  .github/workflows/github.yml
Labels: none

github recommended
  .github/workflows/github.yml
Labels: none

omg
  .github/workflows/github.yml
Labels: none

ci(labeler): add workflow_dispatch
  .github/workflows/github.yml
Labels: none

last try
  .github/workflows/github.yml
Labels: none

docs: try out VuePress for documentation
  docs/.gitignore
  docs/package.json
  docs/src/.vuepress/components/Foo/Bar.vue
  docs/src/.vuepress/components/OtherComponent.vue
  docs/src/.vuepress/components/demo-component.vue
  docs/src/.vuepress/config.js
  docs/src/.vuepress/enhanceApp.js
  docs/src/.vuepress/styles/index.styl
  docs/src/.vuepress/styles/palette.styl
  docs/src/config/README.md
  docs/src/guide/README.md
  docs/src/guide/using-vue.md
  docs/src/index.md
  docs/yarn.lock
Labels: none

docs(vuepress): add to release-please configuration
  docs/package.json
  docs/src/.vuepress/config.js
  docs/src/guide/using-vue.md
  docs/src/index.md
  release-please-config.json
Labels: component/core

build(docs): add GHA VuePress deployment
  .github/workflows/docs.yml
  .github/workflows/eslint.yml
Labels: none

docs
  .github/workflows/docs.yml
Labels: none

fix
  .github/workflows/docs.yml
Labels: none

docs(vuepress): fix build command
  .github/workflows/docs.yml
Labels: none

docs: target branch fix
  .github/workflows/docs.yml
  docs/package.json
Labels: none

fix(api/auth): login issues
  api/src/auth/auth.service.ts
  api/src/main.ts
  api/src/users/user.entity.ts
Labels: none

feat(app/auth): add authentication and protected routes
  app/src/layouts/MainLayout.vue
  app/src/pages/DashboardPage.vue
  app/src/pages/HealthPage.vue
  app/src/pages/InventoryPage.vue
  app/src/pages/LoginPage.vue
  app/src/pages/TaskPage.vue
  app/src/router/index.ts
  app/src/router/routes.ts
  app/src/stores/auth.store.ts
  app/src/stores/users.store.ts
  docker/docker-compose.yml
Labels: none

chore: temp file updates
  api/temp/BaseEntity.js.json
  api/temp/BaseEntity.ts.json
  api/temp/List.js.json
  api/temp/List.ts.json
  api/temp/RefreshToken.js.json
  api/temp/RefreshToken.ts.json
  api/temp/Task.js.json
  api/temp/Task.ts.json
  api/temp/User.js.json
  api/temp/User.ts.json
  app/package.json
  app/quasar.config.js
  app/src/boot/.gitkeep
  app/src/boot/axios.ts
  app/tsconfig.json
  app/yarn.lock
  docs/src/.vuepress/config.js
Labels: component/app

i'm doing something wrong with the state but i can't figure out what
  api/src/auth/auth.module.ts
  api/src/main.ts
  app/src/boot/axios.ts
  app/src/layouts/MainLayout.vue
  app/src/pages/TaskPage.vue
  app/src/stores/auth.store.ts
  app/src/stores/tasks.store.ts
  app/src/stores/tasks.ts
Labels: none

feat(api/tasks)!: add completed attribute
  api/src/config/schemas/openapi-spec.json
  api/src/database/migrations/.snapshot-domicile.json
  api/src/database/migrations/Migration20221031000536.ts
  api/src/tasks/task.entity.ts
  api/src/tasks/tasks.controller.ts
  api/temp/Task.js.json
  api/temp/Task.ts.json
  api/temp/User.ts.json
  app/src/pages/TaskPage.vue
  app/src/stores/tasks.store.ts
Labels: none

chore(deps): bump to latest
  api/yarn.lock
  app/yarn.lock
  yarn.lock
Labels: component/core, component/api, component/app

chores(deps): bump to latest patches
  api/yarn.lock
  app/yarn.lock
  docs/package.json
  docs/yarn.lock
Labels: component/api, component/app

chore(deps): bump dependencies to latest
  api/yarn.lock
  package.json
  web/yarn.lock
  yarn.lock
Labels: component/core, component/api

.github/labeler.yml:

component/core:
- '*'

component/api:
- api/*

component/api/tasks:
- api/tasks/*

component/app:
- app/*

component/infra:
- k8s/*

component/infra/database:
- k8s/database/*

component/infra/app:
- k8s/app/*

component/infra/api:
- k8s/api/*
