Repository domicileapp/domicile, changes with the labels that .github/labeler.yml gives for each.
All labels: category/core, category/api, category/db, category/web, category/docker

idk
  apps/web/src/boot/axios.ts
  apps/web/src/boot/token.service.ts
Labels: none

chore: bump deps
  yarn.lock
Labels: category/core

remove unneeded deps
  apps/web/package.json
  apps/web/src/layouts/MainLayout.vue
  yarn.lock
Labels: category/core, category/web

bla bla whatever
  .vscode/settings.json
  web/.eslintrc.yml
  web/index.html
  web/package.json
  web/src/App.vue
  web/src/components/AppBarMenuComponent.vue
  web/src/components/DrawerComponent.vue
  web/src/components/HelloWorld.vue
  web/src/router.ts
  web/src/store/ConfigStore.ts
  web/src/store/GlobalStore.ts
  web/src/store/index.ts
  web/src/views/CookingPage.vue
  web/src/views/HomePage.vue
  web/src/views/InventoryPage.vue
  web/src/views/LoginPage.vue
  web/src/views/SchedulePage.vue
  web/src/views/TasksPage.vue
  web/vite.config.ts
  web/yarn.lock
Labels: none

test
  web/src/components/HelloWorld.vue
Labels: none

gpg test
  web/src/components/HelloWorld.vue
Labels: none

fix(db): migrations busted and not anymore
  api/src/database/factories/recipe.factory.ts
  api/src/database/migrations/.snapshot-domicile.json
  api/src/database/migrations/Migration20220926031634.ts
  api/src/database/migrations/Migration20220926213133.ts
  api/src/database/migrations/Migration20220926214650.ts
  api/src/database/migrations/Migration20220926222224.ts
  api/src/database/migrations/Migration20220926231541.ts
  api/src/database/migrations/Migration20221013014335.ts
  api/src/database/migrations/Migration20221023001353.ts
  api/src/database/migrations/Migration20221031000536.ts
  api/src/database/migrations/Migration20221129042732.ts
  api/src/database/migrations/Migration20230113015352.ts
  api/src/database/migrations/Migration20230113022837.ts
  api/src/database/migrations/Migration20230113023209.ts
  api/src/database/migrations/Migration20230113023546.ts
  api/src/database/migrations/Migration20230220035821.ts
  api/src/recipes/entity/category.entity.ts
  api/src/recipes/entity/recipe.entity.ts
  api/src/recipes/recipes.module.ts
  api/src/recipes/recipes.service.ts
  web/src/components/HelloWorld.vue
  web/src/plugins/vuetify.ts
  web/src/plugins/webfontloader.ts
Labels: none

feat: react-query
  web/package.json
  web/src/features/api/types/user.d.ts
  web/src/main.tsx
  web/src/types/BaseAPIResponse.ts
  web/yarn.lock
Labels: none

fix(api): temporarily disable authentication
  api/src/tasks/tasks.controller.ts
  api/src/users/users.controller.ts
Labels: none

feat: get tasks yay
  api/src/main.ts
  web/src/pages/Home.tsx
  web/src/pages/Tasks.tsx
Labels: none

fix: remove EventBus temporarily
  web/src/common/EventBus.ts
Labels: none

add
  web/src/app/ModulesIcon.tsx
  web/src/modules/recipes/Layout.route.tsx
  web/src/modules/recipes/Layout.tsx
  web/src/modules/recipes/Recipes.route.tsx
  web/src/modules/recipes/Recipes.tsx
Labels: none

create new recipe page
  web/package.json
  web/src/app/AccountIcon.tsx
  web/src/app/GitHubIcon.tsx
  web/src/app/HeaderTitle.tsx
  web/src/common/layout/Sidebar.tsx
  web/src/main.tsx
  web/src/modules/recipes/Layout.tsx
  web/src/modules/recipes/NewRecipe.route.tsx
  web/src/modules/recipes/NewRecipe.tsx
  web/src/modules/recipes/Recipes.tsx
  web/src/providers/Theme.tsx
  web/src/styles/scroll-bar.css
  web/yarn.lock
Labels: none

build: add cz
  package.json
  yarn.lock
Labels: category/core

feat: remove web-e2e package
  .github/workflows/lint.yml
  commitlint.config.js
  package.json
  web-e2e/.eslintrc.json
  web-e2e/cypress.config.ts
  web-e2e/project.json
  web-e2e/src/e2e/app.cy.ts
  web-e2e/src/fixtures/example.json
  web-e2e/src/support/app.po.ts
  web-e2e/src/support/commands.ts
  web-e2e/src/support/e2e.ts
  web-e2e/tsconfig.json
  yarn.lock
Labels: category/core

ci: fix failing build due to apt use?
  .github/workflows/lint.yml
Labels: none

build(deps): fix root `package.json`
  package.json
  yarn.lock
Labels: category/core

ci(releases): update config to release as a single package
  .release-please-manifest.json
  release-please-config.json
Labels: category/core

deps
  api/package.json
  api/yarn.lock
  web/yarn.lock
Labels: none

style(dependabot.yml): update dependabot config
  .github/dependabot.yml
Labels: none

build
  .github/workflows/github.yml
Labels: none

semantic-release
  .github/workflows/release.yml
  .releaserc.yml
  package.json
  yarn.lock
Labels: category/core

.github/labeler.yml:

category/core:
  - "*"

category/api:
  - apps/api/*

category/db:
  - apps/api/database/*
  - apps/api/seeders/*

category/web:
  - apps/web/*

category/docker:
  - docker/*
